.transactionItem {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @include card;

  &__fromContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 1;
  }

  &__toUser {
    flex: 1;
    text-align: end;
  }

  &__quantity {
    font-weight: bold;
    font-size: 0.9rem;
    color: $primary;
  }
}
