.button {
  background: $secondary;
  border: none;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  @include shadow;

  &:disabled,
  &[disabled] {
    color: $text-color;
    background-color: #cccccc;
    cursor: not-allowed;

    &:hover {
      background-color: #cccccc;
    }
  }

  &:hover {
    background: darken($secondary, $amount: 2%);
  }

  &:active {
    background: lighten($secondary, $amount: 2%);
  }

  &--primary {
    background-color: $primary;

    &:hover {
      background: darken($primary, $amount: 2%);
    }

    &:active {
      background: lighten($primary, $amount: 2%);
    }
  }
}
